@import "mixins";

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    color: black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

    background-color: lightblue;
    padding: 5px;
    margin: 5px;
}

.flex-container:hover {

    background-color: darken(lightblue, 15);
}

.actions input {
    font-size: 15px;
    padding: 4px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid lightslategrey;
    width: 100%;
    margin: 4px 0;
}
