body {
    background-color: white;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

h1 {
    color: rgb(250, 61, 81);
}

.container {
    margin: 0 auto;
    padding: 10px;
    width: 1000px;
}