body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

.header{
    background-color: cadetblue;
    padding: 20px;
    align-content: center;
}

.todo-header{
    font-size: 20px;
    display: inline;
    text-align: center;
    align-content: center;
    color: white;
    border: 4px solid white;
    padding:4px;
    border-radius: 15px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

    background-color: lightblue;
    padding: 5px;
    margin: 5px;
}

.desc {
    width: 88%;
    //flex-grow: 9;
    min-width: 500px;
}

.done {
    //flex-grow: 1;
    min-width: 4%;
    text-align: center;
}
.edit {
   // flex-grow: 1;
   min-width: 4%;
   text-align: center;
}

.delete {
   //flex-grow: 1;
   min-width: 4%;
   text-align: center;
}