.item-change-container {
    float: right;
}

.item-change-edit, 
.item-change-delete, 
.item-change-update, 
.item-change-update-cancel {
    border-radius: 4px;
    height: 22px;
    width: 60px;
}

.item-change-edit, .item-change-update-cancel {
    border: 1px solid orange;
    background-color: orange;
}

.item-change-delete {
    border: 1px solid red;
    background-color: red;
}

.item-change-update {
    border: 1px solid #28c728;
    background-color: #28c728;
}

.item-change-container button {
    margin-left: 10px;
}