.form-container {
    margin-top: 20px;
}

.form-input {
    border-radius: 6px;
    height: 20px;
}

.form-button {
    border: 1px solid green;
    border-radius: 5px;
    background-color: green;
    height: 25px;
    color: white;
}