.item-container, .item-container-completed {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.item-container-completed {
    border: 1px solid #94f18f;
    background-color: #94f18f;
}

.item-container:not(:first-child) {
    margin-top: 10px;
}

.item-created {
    padding-top: 8px;
    font-size: 14px;
    font-style: italic;
}